@font-face {
  font-family: 'HLTSociety';
  src: url('../fonts/font-web/HLT Society.eot');
  src: url('../fonts/font-web/HLT Society.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/font-web/HLTSociety.woff') format('woff'),
       url('../fonts/font-web/HLTSociety.ttf') format('truetype'),
       url('../fonts/font-web/HLTSociety.svg#HLTSociety') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay';
  src: url('../fonts/font-web/SanFranciscoDisplay-Bold.eot');
  src: url('../fonts/font-web/SanFranciscoDisplay-Bold.woff') format('woff'),
       url('../fonts/font-web/SanFranciscoDisplay-Bold.ttf') format('truetype'),
       url('../fonts/font-web/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg'),
       url('../fonts/font-web/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoDisplay';
  src: url('../fonts/font-web/SanFranciscoDisplay-Thin.eot');
  src: url('../fonts/font-web/SanFranciscoDisplay-Thin.woff') format('woff'),
       url('../fonts/font-web/SanFranciscoDisplay-Thin.ttf') format('truetype'),
       url('../fonts/font-web/SanFranciscoDisplay-Thin.svg#SanFranciscoDisplay-Thin') format('svg'),
       url('../fonts/font-web/SanFranciscoDisplay-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoText';
  src: url('../fonts/font-web/SanFranciscoText-Regular.eot');
  src: url('../fonts/font-web/SanFranciscoText-Regular.woff') format('woff'),
       url('../fonts/font-web/SanFranciscoText-Regular.ttf') format('truetype'),
       url('../fonts/font-web/SanFranciscoText-Regular.svg#SanFranciscoText-Regular') format('svg'),
       url('../fonts/font-web/SanFranciscoText-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SanFranciscoText';
  src: url('../fonts/font-web/SanFranciscoText-Thin.eot');
  src: url('../fonts/font-web/SanFranciscoText-Thin.woff') format('woff'),
       url('../fonts/font-web/SanFranciscoText-Thin.ttf') format('truetype'),
       url('../fonts/font-web/SanFranciscoText-Thin.svg#SanFranciscoText-Thin') format('svg'),
       url('../fonts/font-web/SanFranciscoText-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'UTMEssendineCaps';
  src: url('../fonts/font-web/UTMEssendineCaps.eot');
  src: url('../fonts/font-web/UTMEssendineCaps.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/font-web/UTMEssendineCaps.woff') format('woff'),
       url('../fonts/font-web/UTMEssendineCaps.ttf') format('truetype'),
       url('../fonts/font-web/UTMEssendineCaps.svg#UTMEssendineCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'UTMEssendineCaps';
  src: url('../fonts/font-web/UTMEssendineCapsBold.eot');
  src: url('../fonts/font-web/UTMEssendineCapsBold.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/font-web/UTMEssendineCapsBold.woff') format('woff'),
       url('../fonts/font-web/UTMEssendineCapsBold.ttf') format('truetype'),
       url('../fonts/font-web/UTMEssendineCapsBold.svg#UTMEssendineCapsBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'VNISwissCondense';
  src: url('../fonts/font-web/VSWISEC_0.TTF.eot');
  src: url('../fonts/font-web/VSWISEC_0.TTF.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/font-web/VNI-Swiss-Condense.woff') format('woff'),
       url('../fonts/font-web/VNI-Swiss-Condense.ttf') format('truetype'),
       url('../fonts/font-web/VNI-Swiss-Condense.svg#VNI-Swiss-Condense') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAndrogyne';
  src: url('../fonts/font-web/UTM Androgyne_7.eot');
  src: url('../fonts/font-web/UTM Androgyne_7.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/font-web/UTMAndrogyne.woff') format('woff'),
       url('../fonts/font-web/UTMAndrogyne.ttf') format('truetype'),
       url('../fonts/font-web/UTMAndrogyne.svg#UTMAndrogyne') format('svg');
  font-weight: normal;
  font-style: normal;
}


